page-forget {
    .bg{
        background:linear-gradient(to top,#e8eaec 0%, #eaecee 100% );
    }

    .icon {
       
        font-size: 20px;
        margin-top: 12px;
        margin-left: 49px;
    }

}
